/* Add code to make font family and font color the same for all elements */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--font-color);
}

/* create variables for color schemes */
:root {
    --font-color: rgb(106, 33, 162);
    --box-color: rgb(96, 40, 136);
}

body {
    
    background-color: rgb(35, 2, 63);
}
  

/* add code to make all h1 elements align to the left */
h1 { 
        border-right-style: solid;
        border-right-color: var(--box-color);
        font-size: 42px;
        

}

h2 {
font-size: 30px;
}
 ul {
    list-style-type: none;
    font-size: 20px;
    text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
  
 }

img{
    width: 400px;
   height: 200px;
   border-style: solid;
   border-color: var(--box-color);
    filter:saturate(55%);
    object-fit:cover;
}


img:hover {
    filter: saturate(170%);
}



