:root {
    --font-color: rgb(160, 105, 228);
    --box-color: rgb(81, 6, 134);
}
/* create class for header links */
#headLink {
right:50px;
display: inline-flex;
 color: var(--box-color);
}

#headLink li {
  padding-left: 15px;
  margin-top: 25px;
}



/* create id selector for background image */
header {
    width:100%;
    height:100px;
    background-color:black;
}
 header h1 {
    background-color:var(--box-color);
 }
 header a {
    color: var(--box-color);
 }
/*create id selector for Subtitle section */
#subtitle {
   text-align: right;
   margin: 20px;
   background-image:url(/assets/images/meagain.jpg);
}

/* create class selectors for Work section */
.workCard {
    display: flex;
  flex-direction: column;
  justify-content:flex-end;
  position: relative;
}

 .workMini {
    position: absolute;
    background-color: var(--box-color);
    color: var(--font-color);
    border: var(--box-color);
    width: 150px;
    height: 85px;
  top: 50px;
  text-align: center;
  line-height:40%;
 }
 #workMini {
    position: absolute;
    background-color: var(--box-color);
    color: var(--font-color);
    border: var(--box-color);
    width: 300px;
    height: 100px;
  bottom: 50px;
  text-align: center;
  line-height: 70%;

  
 }
  
 .workRows {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

/* Id selector for the first image in Work section to make image the biggest*/

#topPic { 
    display: flex;
    position: relative;
    
}

#topPic img {
width: 900px;
height: 400px;

}


/* create class selector for footer's Contact section, info underlined */
#footer li
{
    padding-bottom: 10px;
    margin-left:100px ;
    margin-right: 100px;
}

#footer {
    display:inline-flex;
}





